html {
	height: 100%;
}

body {
	overflow-x: hidden;
	height: 95%;
	padding-bottom: 60px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	background-color: #e7ebf0;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#555;
	margin: 0px;
}

#map {
	background: gray;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: block;
}

.validateTips {
	color: red;	
}

.ui-dialog{
	background-color: #e7ebf0;

}

.ui-dialog-content.ui-widget-content {
		overflow: hidden;
}

.ui-dialog-titlebar-close {
	display: none;
}
.ui-front {
	z-index: 2001;
}

.ui-widget-overlay {
	background-color: #6697a4;
	opacity: 0.8;
	z-index: 2000;
}

.fill {
	min-height: 100%;
	height: 100%;
}

.editable-click, .leaflet-marker-icon {
	border: 2px solid transparent;
	text-decoration: none;
}

.editable-click:hover, .leaflet-marker-selected:hover, .new-marker {
	border: 2px dashed #CCCCCC;
	text-decoration: none;
}

.thumbnail.editable, .thumbnail.editable:after {
	border: 1px solid #CCCCCC;
}

.thumbnail.editable:after {
	background-color: #F5F5F5;
	border-radius: 0 4px 0 4px;
	bottom: -3px;
	color: #9DA0A4;
	/*content: "Editable!";*/
	font-size: 12px;
	font-weight: bold;
	left: -5px;
	padding: 3px 7px;
	position: relative;
}

.thumbnail.editable {
	margin-top: 10px;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}
.row-fluid .span3 {
	margin-left: 10px;
}
.navbar {
        margin-bottom: 0px;
}

.navbar .navbar-inverse {
        -webkit-border-radius: 0px;
           -moz-border-radius: 0px;
                border-radius: 0px;
}

.navbar-inner {
        -webkit-border-radius: 0px;
           -moz-border-radius: 0px;
                border-radius: 0px;
        background-color: #f3f5f7;	
}

.logo {
	background-color: #f3f5f7;
}

.ima_logo {
	margin: 10px;
}

.btn {
	    -webkit-border-radius: 0px;
           -moz-border-radius: 0px;
                border-radius: 0px;
        margin: 0px;
}

#dialog-form {
	display: none;
}

#confirm-delete {
	display: none;
}

.icons-info {
	margin: 2px;
	text-align: right;
}

.leaflet-control-layers {
	box-shadow: 0 0 0;
}

.leaflet-bar {
	box-shadow: 0 0 0;
	border: 0px;
}
